.navbar {
  background: linear-gradient(
    to right,
    rgba(12, 171, 251, 1) 0,
    rgba(70, 117, 237, 1) 100%
  );
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

a:hover{
  color: #e3dfc8;
}

