#customPhones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#customPhones .PhoneInput {
  height: 60px;
  padding: 0px 12px;
  background: #e8e8e8;
  border-bottom: 2px solid rgba(135, 135, 135, 0.4);
  display: inline-flex !important;
}

#customPhones .PhoneInput .PhoneInputInput {
  background: #e8e8e8;
}

#customPhones .PhoneInput .PhoneInputInput:active,
#customPhones .PhoneInput .PhoneInputInput:focus {
  outline: none;
}

@media (max-width: 668px) {
  #customPhones {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}
