#sidebar {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
  width: 16rem;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 2;
}

.sidebar-collapsed .sidebar-link {
  color: #5e6365;
}

.sidebar-collapsed#sidebar {
  background-color: transparent;
}

.sidebar-collapsed {
  width: 4rem !important;
}

.sidebar-collapsed .sidebar-link p {
  display: none;
}

.sidebar-collapsed .sidebar-link span {
  display: none;
}

.sidebar-link {
  padding: 1.5rem 0.75rem;
  border-bottom-width: 1px;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #021b52;
}

.sidebar-link:hover {
  color: #0f54a3;
}

@media only screen and (max-width: 600px) {
  #sidebar {
    width: 100%;
  }

  .sidebar-collapsed {
    width: 0 !important;
  }

  .sidebar-collapsed .sidebar-button {
    display: none;
  }
}
