.joyeriaFondo {
	background-image: url('../../assets/img/reloj.png');
	background-repeat: no-repeat, repeat;
	background-size: 6rem 6rem;
}
.damasFondo {
	background-image: url('../../assets/img/zapato-dama1.jpg');
	background-repeat: no-repeat, repeat;
	background-size: 6rem 6rem;
}
.imageNavbar {
	background-image: url('../../assets/img/categories-dama.jpg');
	background-size: cover;
	background-repeat: no-repeat, repeat;
}
