@import 'tailwindcss/base';

code,
xmp,
pre {
	font-family: inherit;
}

@import 'tailwindcss/components';

.materialTableLink {
	color: #1890ff;
	text-decoration: underline !important;
}

@import 'tailwindcss/utilities';
