/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

.fondo-login {
	background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
	background-size: cover !important;
	background-repeat: no-repeat !important;
	height: 100vh !important;
	font-family: 'Numans', sans-serif !important;
}
.container {
	height: 100% !important;
	align-content: center !important;
}

.card {
	height: 370px !important;
	margin-top: auto !important;
	margin-bottom: auto !important;
	width: 400px !important;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
	font-size: 60px !important;
	margin-left: 10px !important;
	color: #3182ce !important;
}

.social_icon span:hover {
	color: white !important;
	cursor: pointer !important;
}

.card-header h3 {
	color: white !important;
}

.social_icon {
	position: absolute !important;
	right: 20px !important;
	top: -45px !important;
}

.input-group-prepend span {
	width: 50px !important;
	background-color: #3182ce !important;
	color: black !important;
	border: 0 !important;
}

input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.remember {
	color: white !important;
}

.remember input {
	width: 20px !important;
	height: 20px !important;
	margin-left: 15px !important;
	margin-right: 5px !important;
}

.login_btn {
	color: black !important;
	background-color: #3182ce !important;
	width: 100px !important;
}

.login_btn:hover {
	color: black !important;
	background-color: white !important;
}

.links {
	color: white !important;
}

.links a {
	margin-left: 4px !important;
}
